body {
    background-color: #fdf1f7;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bkash-container {
    background-color: white;
    padding: 30px;
    border: 2px solid #d6006d;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #d6006d;
    margin-bottom: 20px;
}

input {
    width: 220px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

button {
    background-color: #d6006d;
    color: white;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b10059;
}
.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
}

.back-btn:hover {
    background-color: #333;
}
